// Loading fonts
@font-face {
    font-family: 'Nunito';
    src: url("./../fonts/Nunito-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url("./../fonts/Nunito-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

*{
    font-family: Nunito;
}

#app{
    height: 100vh;
}

@import "~bootstrap/scss/functions";

// Custom modified bootrstap variables
@import "core/variables";

// Bootstrap library
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";


// Custom library
@import "core/sidebar";
@import "core/sidebar";
@import "core/navbar";
@import "core/buttons";
@import "core/inputs";
@import "core/card";
@import "core/main-container";
@import "core/alert";
@import "core/dropdown";
@import "core/pagination";
@import "core/progress";
@import "core/nav";
@import "core/badge";