.alert{

    // display flex allows us to add custom html content in alerts and still be able to display close button nicely
    display: flex;
    flex-direction: row;

    border-radius:0;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-left-width: 0.5rem;

    // Expand content to full width - close button
    .content{
        flex-grow:1;
    }

    // Disable outline on click
    .close{
        button{
            outline:none;
        }
    }
}