.breadcrumb{
    .breadcrumb-item{

        .breadcrumb-link{
            display: flex;
            align-items: center;

            .breadcrumb-divider{
                stroke:$breadcrumb-divider-color;
            }
        }

        &:hover{
            // Hover styles for item
        }

        &:last-child{
            // Additional last child styles if needed
        }

        &.active{
            .breadcrumb-link{
                font-weight: 700;
            }
        }

    }
}