.btn{

    transition: $transition-base !important;
    letter-spacing: 0.8px;
    font-weight: bold;
    box-shadow: ($btn-normal-box-shadow);

    &:hover{
        transform: translateY(-1px);
        @include box-shadow($btn-box-shadow);
    }

    &:active{
        transform: translateY(0px);
    }

    // Icons spacing
    svg{
        margin-right: 6px;
        margin-left: 6px;
    }

    &.rounded{
        border-radius: 25px !important;
    }

    &.still{
        &:hover{
            transform: translateY(0px);
        }

        &:active{
            transform: translateY(0px);
        }
    }

    &.edgy{
        border-radius: 0px;
    }

}

// Remove box shadow for outline
@each $key, $val in $theme-colors{
    .btn-outline-#{$key}{
        box-shadow: none;
    }
}
