.card{
    //box-shadow: 2px 2px 5px -2px #9e9c94;
    box-shadow: 2px 2px 10px -6px rgba(158, 156, 148, 0.8);
    .card-header{
        font-weight: bold;
        font-size: 18px;
        background: $card-header-bg;
    }
}

.accordion{

    .accordion-item{
        .card-header{
            cursor: pointer;
            &:hover{
                background: $gray-100;
            }
        }
    }

}