.input{

    &.error{
        border-color:$danger;
    }

    &.valid{
        border-color:$success;
    }

    &.blank{
        border:none;
        background-color: transparent;
        outline: none;
        border-radius: 0px;
        box-shadow: none;
        padding: 0;
        margin:0;
    }
}

.input-label{
    font-size: $font-size-sm;
    margin-bottom: $label-margin-bottom;

    label{
        margin: 0;
    }
}


.input-error,
.input-info{
    margin-top:0.25rem;
    font-size: $font-size-base*0.75;
}

.input-error{
    color:$danger;
}

// Wrapper for input component, used to structure input group add-ons, buttons
.input-wrapper{

    .right-addon{

    }

}

.tag-input{

    word-break: break-word;
    cursor:text;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: auto;
    transition: $input-transition;

    &.focused {
        border-color: $input-focus-border-color;
        outline: 0;
        box-shadow: $input-focus-box-shadow;
    }

    .tag{
        background: $tag-input-tag-bg;
        color: color-yiq($tag-input-tag-bg);
        padding: 4px 10px;
        margin-right: 6px;
        margin-bottom: 3px;
        margin-top: 3px;
        cursor: pointer;
        border-radius: $tag-input-tag-border-radius;
        font-size: 0.8125rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;


        .tag-close{
            font-size: $tag-input-close-size;
            margin-left: 5px;
            width: $tag-input-close-size + 0.25rem;
            height: $tag-input-close-size + 0.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        .tag-text{
            line-height: 1.25rem;
        }

        // Tag variations
        @each $type, $color in $theme-colors{
            &.tag-#{$type}{
                background: $color;
                color: color-yiq($color);

                .tag-close{
                    background: change_color($color, $lightness:30%);
                }
            }
        }
    }

    .input{
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        flex-grow: 1;
    }
}

// Custom checkbox styles
.checkbox, .radio{

    position: relative;
    padding-left: calc(#{$checkbox-text-margin} + #{$checkbox-size});

    input[type='checkbox'], input[type='radio']{
        opacity: 0;
        z-index: -1000;
        position: absolute;

        &~.checkbox-label, &~.radio-label{
            cursor: pointer;

            // Align label box with text
            display: inline-flex;
            align-items: center;
            flex-direction: row;

            .checkbox-label-text, .radio-label-text{
                font-size: $font-size-sm;
            }

            // Stylish label
            &::before{
                display: inline-block;
                transition: all 0.2s ease-in;
                width: $checkbox-size;
                height: $checkbox-size;
                background-color: #fff;
                border:1px solid $input-border-color;
                content:'';
                border-radius: $checkbox-border-radius;
                position: absolute;
                left: 0;
            }

            &:hover{
                &::before{
                    background-color: change_color($checkbox-color, $lightness:90%);
                    border-color:change_color($checkbox-color, $lightness:85%);
                }
            }

            &:focus, &:active{
                &::before{
                    border-color:change_color($checkbox-color, $lightness:85%);
                    box-shadow:0px 0px 0px 2px change_color($checkbox-color, $lightness:75%);
                }
            }
        }

        // Different styling for radio
        &~.radio-label{
            &::before{
                border-radius: 50%;
            }
        }

        &:checked{
            &~.checkbox-label, &~.radio-label{
                &::before{
                    background-color: $checkbox-color;
                }
                &::after{
                    display: block;
                    width: $checkbox-size/2;
                    height: $checkbox-size/1.25;
                    content:'';
                    position: absolute;
                    left: $checkbox-size/4;
                    border: #{$checkbox-size*0.2} solid #fff;
                    border-right: 0;
                    border-top: 0;
                    transform: scalex(-1) translateY(-1px) scale(0.65) rotate(-45deg);
                    //transform: translateY(-1px) scale(0.8) rotate(140deg)
                }
            }

            &~.radio-label{
                &::before{
                    background-color: #fff;
                    border-color: $checkbox-color;
                    border-radius: 50%;
                    outline: none;
                    border-width: $checkbox-size*0.1;
                }
                &::after{
                    border:none;
                    transform: initial;
                    background-color: $checkbox-color;
                    width: $checkbox-size/2;
                    height: $checkbox-size/2;
                    border-radius: 50%;
                }
            }
        }
    }

    &.disabled{
        .checkbox-label{
            &::before {
                background-color: $gray-400 !important;

                // Remove effects of focus,hover and active
                box-shadow:none !important;
                border:none !important;
            }
            &::after{
                border-color: $gray-200 !important;;
            }
        }

        .radio-label{
            &::before {
                background-color: $gray-400 !important;
                border-color: $gray-400 !important;

                // Remove effects of focus,hover and active
                box-shadow:none !important;
                border:none !important;
            }
            &::after{
                background-color: $gray-200 !important;;
            }
        }
    }
}

// Styled select dropdown
.select-dropdown{

    // Remove tabindex outline
    .dropdown{
        outline: none;
    }

    .dropdown-menu{
        overflow: auto;
        max-height: 200px;
        user-select: none;
    }

    .select-dropdown-placeholder{
        user-select: none;
    }

    .select-dropdown-handle{
        color:$gray-500;
        transition: $transition-base;
    }

    &.menu-open{
        .select-dropdown-handle{
            transform: rotate(180deg);
        }
    }

}

// switch styles
.switch{
    .checkbox-label-text{
        font-size: $font-size-sm;
    }
}