.app-container{
    z-index: $zindex-app-container;
    transition: $transition-base;

    &.sidebar-open{
        margin-left: $sidebar-width;

        @media screen and (max-width: map_get($grid-breakpoints, 'md')) {
            margin-left: 0;
        }
    }
}