// Holder for fixed modal content and backdrop
.modal-container{
    position:fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:$zindex-modal;
    width: 100vw;
    height: 100vh;
    overflow-y:auto;

    .modal-backdrop{
        background-color: $modal-backdrop-bg;
        opacity:$modal-backdrop-opacity;
        position:fixed;
        z-index:$zindex-modal-backdrop;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
    }

    // Actual modal content and its children structures
    .modal{
        outline: none;
        z-index:$zindex-modal;
        max-height: 100%;
        display: block;

        .modal-content{
            display: block;
            background: $modal-content-bg;
            border-radius:$modal-content-border-radius;
            margin: $modal-dialog-margin-y-sm-up auto;
            // Default size modal width
            width: $modal-md;
            max-width: 100vw;
            @include box-shadow($modal-content-box-shadow-sm-up);


            .modal-body{
                padding: $modal-inner-padding;
            }

            .modal-header{
                padding: $modal-inner-padding;
                display: flex;
                justify-content: space-between;
                border-bottom: $modal-header-border-width solid $modal-header-border-color;
                @include border-top-radius($modal-content-border-radius);

                .modal-title{
                    font-weight: 700;
                    line-height: $modal-title-line-height;
                }

                .close{
                    outline: none;
                    font-size:$font-size-base;
                }
            }

            .modal-footer{
                border-top: $modal-header-border-width solid $modal-header-border-color;
                padding: $modal-inner-padding;
                @include border-bottom-radius($modal-content-border-radius);
            }
        }
    }

    // Bootstrap Size variations
    @include media-breakpoint-up(xl) {
        &.modal-xl .modal .modal-content{ width: $modal-xl; }
    }
    @include media-breakpoint-up(lg) {
        &.modal-lg .modal .modal-content{ width: $modal-lg; }
    }
    @include media-breakpoint-up(sm) {
        &.modal-sm .modal .modal-content{ width: $modal-sm; }
    }
}